<!DOCTYPE html>
<html>
<head>
    <title>Movie Database</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div class="inputs">
        <br><br>
        <button type="button" v-on:click="send('create')">Create Database</button>
        <button type="button" v-on:click="send('delete')">Delete Database</button>
        <br><br><br><br><br>
        <span>Year:</span>
        <br>
        <input v-model="year">
        <br><br>
        <span>Title:</span>
        <br>
        <input v-model="title">
        <br><br>
        <button type="button" v-on:click="send('query')">Query Database</button>
        <br><br><br><br><br><br>
        <input type="hidden" ref="results_ref">
        <span v-if="show">{{server_response}}</span>
        <br><br><br>
    </div>

    <script>
    
    var send_request = new Vue({
        el: ".inputs",
        data: {
            show: false,
            server_response: '',
            year: null,
            title: null
        },
        methods: {
            async send(action) {
                let url = 'http://localhost:8080/' + action
                if(action == 'query'){
                    url = url + '?year=' + this.year + '&title=' + this.title;
                }

                var requestOptions = {
                    method: 'GET',
                    redirect: 'follow',
                };

                console.log("Telling server to " + action + " database.");

                let prom = await fetch(url, requestOptions).catch(error => console.log('error', error))
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        send_request.server_response = data.message;
                        send_request.show = true;        //add code to change this back to false after 5 sec
                    })
                    .catch(error => console.log('error', error));
            }
        }
    });

    </script>
</body>

</html>